body {
  background-color: #f9f5eb;
  color: #1c3879;
}
.form {
  background-color: #1c3879;
  color: #f9f5eb;
  width: 40%;
  margin-top: 7%;
  margin-left: 30%;
  padding: 5%;
  border-radius: 10%;
}
.form_title {
  font-size: 3em;
  font-weight: bolder;
  padding-left: 40%;
}
.form-text {
  color: #f9f5eb;
}
.alert {
  margin: 0;
  padding: 0;
  padding-left: 1em;
  height: 3em;
  background-color: #607eaa;
  border: 0.3em solid #eb1d36;
  color: #f9f5eb;
  font-weight: bold;
}
.alert_icon {
  width: 2em;
  height: 3em;
}
label {
  font-size: 1.4em;
  font-weight: bold;
}
.button {
  background-color: #f9f5eb;
  color: #1c3879;
  font-size: 1.5em;
  font-weight: bolder;
}

.container-fluid {
  background-color: #1c3879;
}
.navbar-brand {
  color: #607eaa;
  background-color: #1c3879;
  padding: 0 0.5em 0 1em; /* top right bottom left */
  font-size: 3em;
  font-weight: 1000;
  border-radius: 2em;
}
.navbar-brand:hover {
  background-color: #607eaa;
  color: #1c3879;
}

.navbar-nav .nav-link {
  background-color: #1c3879;
  color: #eae3d2;
  font-size: 1.5em;
  font-weight: 500;
  border-radius: 1em;
}
.navbar-nav .nav-link:focus,
.navbar-nav .nav-link:hover {
  background-color: #607eaa;
  color: #1c3879;
}

.dropdown-menu {
  background-color: #1c3879;
}
.dropdown-menu .dropdown-item {
  color: #eae3d2;
  font-weight: 500;
  border-radius: 1em;
}
.dropdown-menu .dropdown-item:hover {
  background-color: #607eaa;
  color: #1c3879;
}
