{% extends "base.html" %} {% block body %}

<div class = "form">
  <div class="form_title">Payment</div>
  <form action="login" method="POST">
    {% csrf_token %}
    
    <div class="mb-3">
      <label for="room" class="form-label">Room: </label>
      <input
        type="text"
        class="form-control"
        id="room"
        aria-describedby="teztHelp"
        name="room"
      />
      <div id="username" class="form-text">
        We'll never share your email with anyone else.
      </div>
    </div>
    <div class="mb-3">
      <label for="payment" class="form-label">Payment</label>
      <input
        type="number"
        class="form-control"
        id="payment"
        name="payment"
      />
    </div>
    <div class="dropdown-center">
      <button class=" btn btn-secondary dropdown-toggle " type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Centered dropdown
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Action two</a></li>
        <li><a class="dropdown-item" href="#">Action three</a></li>
      </ul>
    </div>
    
    {% comment %} <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1" />
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div> {% endcomment %}
    <div class="d-grid gap-2 col-6 mx-auto">
      <button type="submit" class="button btn btn-primary">Login</button>
    </div>
  </form>
</div>
</div>
  {% endblock body %}