{% extends "base.html" %}
{% block title %}Payment | {% endblock title %}
{% block body %}
<div class = "form">
  <div class="form_title">Payment</div>
  <form action="payment" method="POST">
    {% csrf_token %}
    <div>
      <label for="room">Room</label>
      <select class="form-select form-select-lg mb-3" aria-label="Large select example" id="room">
        <option value = "room">---Select Room---</option>
        {% for room in room %}
          <option id ={{room.room}} value={{room.room}}>{{room.room}}</option>
        {% endfor %}
      </select>
    </div>
    <div>
      {% for year in year %}
      <h4>Year: {{year.year}}</h4>
      {% endfor %}
    </div>
    <div>
      <label for="month">Month</label>
      <select class="form-select form-select-lg mb-3" aria-label="Large select example" id = "month" >
        <option value = "month">---Select Month---</option>
        {% for month in month %}
          <option id ={{month.month}} value={{month.month}}>{{month.month}}</option>
        {% endfor %}
      </select>
    </div>
    <div class="mb-3">
      <label for="payment" class="form-label">Recieved Amount</label>
      <input
        type="number"
        class="form-control"
        id="payment"
        name="payment"
        required
      />
    </div>
    <div class="d-grid gap-2 col-6 mx-auto">
      <button type="submit" class="button btn btn-primary">Add Record</button>
    </div>
  </form>
</div>
</div>
  {% endblock body %}