{% extends "base.html" %} {% block body %}
<h1>hello world</h1>
<p>this is index page</p>

<div class="container">
  
    <div class="row justify-content-center mb-4">
      <div class="col-md-6 d-flex justify-content-center">
        <div class="card" style="width: 18rem">
          {% comment %} <img src="..." class="card-img-top" alt="..." /> {% endcomment %}
          <div class="card-body">
            <h5 class="card-title">Room 1</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
          <form action="payment" method="POST">
            {% csrf_token %}
            <label for="recieved">Recieved</label>
            <input type="number" id="recieved" name="recieved">
            <label for="comment">Comment</label>
            <input type="text" id="comment" name="comment">
            <button type="submit" class="button btn btn-primary">Check</button>
          </form>
          <!-- <ul class="list-group list-group-flush">
            <li class="list-group-item">Recieved
              
            </li>
            <li class="list-group-item">A second item</li>
            <li class="list-group-item">A third item</li>
          </ul>
          <div class="card-body">
            <a href="#" class="card-link">Edit Detail</a>
            <a href="#" class="card-link">View Detail</a>
          </div> -->
        </div>
      </div>
    </div>
    <div class="row justify-content-center mb-4">
      <div class="col-md-6 d-flex justify-content-center">
        <div class="card" style="width: 18rem">
          <img src="..." class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">An item</li>
            <li class="list-group-item">A second item</li>
            <li class="list-group-item">A third item</li>
          </ul>
          <div class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 d-flex justify-content-center">
        <div class="card" style="width: 18rem">
          <img src="..." class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">An item</li>
            <li class="list-group-item">A second item</li>
            <li class="list-group-item">A third item</li>
          </ul>
          <div class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock body %}