body{
    background-color: wheat;
}
.blue-box{
    background-color: blue;
    display: block;
    /* allow to set size but occupies whole line*/
}
.green-box{
    background-color: green;
    display: inline;
    /* cannot set size */
}
.red-box{
    background-color: red;
    display: inline-block;
    width: 400px;
    /* allows to set size but occupies same line until space is available */
}