body{
    background-color: wheat;
}
 .left-block{
    display: inline-block;
    text-align: justify;
    justify-content: left;
    background-color: aqua;
    
    padding: 15px;
 }

.left{
    max-height: 200px;
    max-width: 200px;
    margin: 10px;
    float: left;
}
.right {
    max-height: 200px;
    max-width: 200px;
    margin: 10px;
    float: right;
}
footer{
    clear: left;
}